@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300,500,800&display=swap');


body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Bebas Neue', cursive;
}

header {
    width: 100%;
    height: 600px;
    background-image: url('../images/DSC0976_00001.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 3px 5px #A6170A;
}

header h1 {
    color: white;
    font-size: 128px;
    margin: 0;
    text-shadow: 2px 2px 4px #A6170A;
}

header p {
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 2.3rem;
    margin: 0;
    text-shadow: 2px 2px 4px #A6170A;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: white;
    z-index: 10;
    border-bottom: 1px solid lightgray;
}

nav ul {
    margin-right: 36px;
}

nav h1 {
    margin-left: 36px;
}

nav li {
    list-style-type: none;
    display: inline-block;
    margin: 0 16px;

}

.container {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 64px;
}

.container section {
    margin-top: 64px;
    margin-bottom: 32px;
}

.section-title {
    color: #49730A;
    text-align: center;
    font-size: 3rem;
    margin: 0;
}

.separator {
    width: 100px;
    height: 4px;
    background-color: #8C713E;
    margin: 0 auto;
}

.pizza h3 {
    font-size: 1.5em;
    color: #8C713E;
}

.pizza ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 0;
}

.pizza ul li {
    margin: 8px 16px 8px 0;
    padding: 12px;
    width: 192px;
    height: 50px;
    border: 1px solid #8C713E;
    border-radius: 5px;
    box-shadow: 0 0 3px rgb(228, 228, 228);
    position: relative;
}

.pizza ul li span {
    display: block;
}

.pizza ol {
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

.pizza ol li {
    margin: 8px 16px 8px 0;
    padding: 12px;
    width: auto;
    height: auto;
    border: 1px solid #8C713E;
    border-radius: 5px;
    box-shadow: 0 0 3px rgb(228, 228, 228);
}

.pizza ol li span {
    display: block;
}

.dish-name {
    font-weight: 600;
}

a {
    color: #730217;
    text-decoration: none;
}

a:hover {
    color: #c80125;
    text-decoration: underline;
}

footer {
    display: flex;
    margin-top: 64px;
    justify-content: space-evenly;
    background-color: #8C2703;
    color: white;
    box-shadow: 0 -3px 5px lightgray;
}

footer section {
    width: 300px;
    margin: 8px;
    padding: 32px;
}

table {
    border: 1px solid #8C713E;
    width: 300px;
}

table td, table th {
    padding: 4px;
    text-align: left;
}

table th {
    background-color: white;
    color: #8C2703;
}