<!-- MENU SECTION -->
<div class="container">
  <section class="menu">
    <div class="row">
      <div class="col-12">
        <h2 class="section-title">I Nostri Piatti</h2>
        <div class="separator"></div>
      </div>
    </div>

    <div class="my-3 row">
      <div class="col-10">
      <input [(ngModel)]="filterText" (ngModelChange)="applyFilter()" type="text" class="form-control" id="search" placeholder="Cerca un piatto...">
      </div>
      <div class="col-2">
      <button class="btn btn-primary search-btn" (click)="filterText = ''; applyFilter()">Reset</button>
    </div>
    </div>

    
    <app-menu-section *ngIf="piattiAntipasti.length" [piatti]="piattiAntipasti" sectionTitle="antipasti"></app-menu-section>
    <app-menu-section *ngIf="piattiPrimi.length" [piatti]="piattiPrimi" sectionTitle="primi"></app-menu-section>
    <app-menu-section *ngIf="piattiDolci.length" [piatti]="piattiDolci" sectionTitle="dolce"></app-menu-section>
  </section>
</div>
