<!-- MENU SECTION -->
<div class="container">
  <section class="menu">
    <div class="row">
      <div class="col-12">
        <h2 class="section-title">I Nostri Piatti</h2>
        <div class="separator"></div>
      </div>
    </div>

    <app-menu-section [piatti]="piattiAntipasti" sectionTitle="antipasti"></app-menu-section>
    <app-menu-section [piatti]="piattiPrimi" sectionTitle="primi"></app-menu-section>
    <app-menu-section [piatti]="piattiDolci" sectionTitle="dolce"></app-menu-section>
  </section>
</div>
