<div class="card shadow" [class.not-available]="!piatto.available">
  <img
    [src]="piatto.imageUrl"
    class="card-img-top"
    [alt]="piatto.title"
  />
  <div class="card-body">
    <h5 class="card-title">
      <a [hidden]="!piatto.available" href [routerLink]="['/menu', piatto.id]">{{ piatto.title | titlecase }}</a> 
      <span [hidden]="piatto.available">{{ piatto.title | titlecase }}</span>
      - {{ piatto.price |  currency:'EUR':'symbol':'1.0' }}</h5>
    <p class="card-text">
      {{ piatto.description }}
    </p>
  </div>
</div>
