<nav class="navbar navbar-expand-lg bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">THE NET PIZZA</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/menu" routerLinkActive="menu-active">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contacts" routerLinkActive="menu-active">Contatti</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
